boby {
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-flex -webkit-inline-flex;
  text-align: center;
  
}

.App {
}

img {
  text-align: left;
  zoom: 1.5;
  padding-top: 20px;
}

.App-header {
  background-color: rgb(68, 68, 68);
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#resultsBox {
  margin: 5px;
  margin-top: 15px;
  right: 5px;
  top: 5px;
  background: seashell;
  text-align: left;
  width: 48vw;
  padding: 10px;
  border: solid;
  min-width: 300px;
  z-index: 100;
  border-radius: 15px;
  box-shadow:  8px 8px 4px 4px;
}
#resultsBox:hover {
  box-shadow: 0px 0px 0px 0px;
}
#cartBox {
  float: right;
  
  margin: 5px;
  margin-top: 15px;
  right: 5px;
  top: 5px;
  background: seashell;
  text-align: left;
  width: 48vw;
  padding: 10px;
  border: solid;
  min-width: 300px;
  z-index: 100;
  border-radius: 15px;
  box-shadow:  8px 8px 4px 4px;
}
#cartBox:hover {
  box-shadow: 0px 0px 0px 0px;
}
#postBox {
  float: right;
 
  margin: 5px;
  margin-top: 78px;
  right: 5px;
  top: 5px;
  background: seashell;
  text-align: left;
  width: 48vw;
  padding: 10px;
  border: solid;
  min-width: 300px;
  z-index: 100;
  border-radius: 15px;
  box-shadow:  8px 8px 4px 4px;
}
#postBox:hover {
  box-shadow: 0px 0px 0px 0px;
}
#favsresultsBox {
  background: skyblue;
  text-align: left;
  padding: 2px;
  border: solid;
  border-radius: 25px;
}


h2 {
  text-align: left;
}
li {
  padding: 2px;
}
.author {
  padding: 2px;
}
input {
  margin-top: 15px;
  margin-left: 5px;
  padding: 5px;
}
#lable{
  margin-left:5px;
}
#newSearch {
  margin: 2px;
  display: flex;
  background: seashell;
  text-align: left;
  flex-direction: column;
  width: 45vw;
  /* padding: 4px; */
  border: solid;
  min-width: 300px;
  min-height: 400px;
}

#imgCart {
  float: right;
  zoom: .2;
  margin-right: 100px;
}

.btn {
  float: right;
}
#randomButton {
  position: fixed;
  top: 500px;
  right: 5px;
  margin: 50px;
  padding: 10px;
  z-index: 1;
}
#netscape {
  zoom: .03;
  float: right;

}
#netscapeText {
  zoom: .75;
  float: right;

}
#title {
  float: right;
  direction: rtl;
  padding-top: 50px;
}
